---
import Layout from "../layouts/Layout.astro";
import HomeContent from "../components/HomeContent.svelte";
import { getPage } from "../prismic";

const doc = (await getPage("home")) as any;
const data = doc.results[0].data;
---

<Layout title="Soham Adwani | Developer">
  <main>
    <HomeContent {data} />
  </main>
</Layout>
