---
import "../styles/globals.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="dark:font-montreal font-editorial dark:bg-snzblack-primary dark:text-white bg-snzcream-primary text-snzblack-primary"
  >
    <slot />
    <nav
      class="fixed bottom-0 left-0 right-0 w-full dark:bg-snzblack-secondary bg-snzcream-secondary h-16 flex items-center justify-end px-8"
    >
      <div>
        <a href="/" class="link-item">Home</a>
        <a href="/work" class="link-item">Work</a>
        <a href="/writing" class="link-item">Thoughts</a>
      </div>
    </nav>
  </body>
</html>
